Options FollowSymLinks

RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteRule . index.php

#force HTTPS
#RewriteCond %{SERVER_PORT} 80 
#RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
#RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
#RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#<FilesMatch "\.(?i:gif|jpe?g|png|ico|css|js|swf)$">
#
#  <IfModule mod_headers.c>
#    Header set Cache-Control "max-age=172800, public, must-revalidate"
#  </IfModule>
#
#</FilesMatch>
